body {
    display: flex;
    height: 100vh;
    overflow: hidden;
    background-color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    font-size: 28px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    margin: auto;
    border: 1px solid lightgray;
border-radius: 25px;
padding: 2rem;
background-color: whitesmoke;
}

.inner-wrapper {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label {
    height: 100px;
}

#toss {
    display: inline;
    height: 24px;
}

button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
    margin-top: 20px;
    flex: 1;
}

small {
    color: gray;
    padding-top: 5px;
}

.selected {
    border: 2px solid dodgerblue;
    border-radius: 999px;
}

.form-group {
    width: 100%;
    display: inline-flex;
    gap: 10px;
    justify-content: center;
}

.stats{
    display: flex;
    gap: 10px;
}
